
  <legend>Terminal</legend>
  <input [(ngModel)]="model.terminalCode" type="text">
  <br><br>
  <legend>Date</legend>
  <input [(ngModel)]="model.date" type="text">
  <br><br>
  <legend>Description</legend>
  <input [(ngModel)]="model.description" type="text">
  <br><br>
  <legend>Nro</legend>
  <input [(ngModel)]="model.nroInvoice" type="text">
  <br><br>
  <legend>Sale</legend>
  <input [(ngModel)]="model.saleCode" type="text">
  <br><br>
  <legend>Price</legend>
  <input [(ngModel)]="model.value" type="text">
  <br><br>
  <button (click)='Save()'>Save</button>